#setting {
    background-color: black;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: 0.5s;
    animation: ease-in;
    visibility: 100;
}

#button {
    background-color: aliceblue;
    position: fixed;
}