#footer {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: brown;
    width: 100%;
}

#header {
    display: block;
    position: fixed;
    top: 0;
    background-color: brown;
    width: 100%;
}